.restaurant-list-item {
  width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow: visible;
}

.star-rating {
  margin-top: -7px;
}

.restaurant-details-container {
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.restaurant-image {
  margin-right: 4px;
  max-width: 65px;
  max-height: 65px;
}

.restaurant-title {
  line-height: 1.1;
  color: #818181;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.restaurant-details {
  color: #818181;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: middle;
  line-height: 1.2;
}

.icon-spacing {
  margin-right: 5px;
  color: #F2D447;
  vertical-align: middle;
}

.linkable {
  cursor: pointer;
}