.restaurant-list-container {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 526px
}

.restaurant-list-border {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin-bottom: 10px;
  overflow: visible;
  background-color: #fff;
}

.restaurant-list-border:hover {
  border: 2px solid #428815;
}

.favorites-container {
  flex-grow: 1;
}