body {
  text-align: center;
  background-color: rgb(243,246,251);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #818181;
}

@media screen and (min-width: 978px) {
  .app-container {
    width: 1024px;
    max-width: 100%;
  }
}



.app-title {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
}

.search-header {
  background-color: #fff;
  display: flex;
  padding: 13px 23px;
}

.content-container {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  height: 526px;
  overflow: hidden;
}

.app-logo {
  height: 30px;
  max-height: 100%;
  pointer-events: none;
  margin-right: 5px;
  padding-top: 5px;
}

.search-filter-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.site-info {
  display: flex;
  justify-content: flex-start;
}

/* SEARCH */
.filter-btn {
  padding: 0.2rem 1rem;
  font-size: 12px;
  line-height: 1;
}

.mobile-button {
  position: fixed;
  bottom: 20px;
}

@media screen and (max-width: 576px) {
  .mobile-hide {
    display: none;
    /* visibility: hidden */
  }
}

.btn-primary {
  background-color: #428815;
  border: none;
}

.btn-primary:hover {
  background-color: #30660d;
}